{% load static from staticfiles %}


<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>{% block title %}Pocket Pastors{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="top_bar">
            <p class = "logo"> <a href={% url 'main:main_page' %}><i class="fas fa-home"></i></a>&nbsp{% block top_bar %}Pocket Pastors{% endblock %}</p>
            <p class= "logout"><i class="fas fa-power-off"></i><a href={% url 'auth:logout' %}>Logout</a></p>
        </div>

        {% block content %}

        {% endblock content %}

        <!-- Add your site or application content here -->

        <footer>

{#            {% include 'footer.html' %}#}

        </footer>


        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"><\/script>')</script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>